<br />
<h2>List of Products From Firebase Database</h2>
<br />

<ul class="list-group">
	<li class="list-group-item" *ngFor ="let product of productsKeys; let i = index" >
    <span><b>ID:</b>    {{i+1}} </span>
    <br />
    <span><b>Name:</b>  {{product.name.replace('"',' ')  | json}} </span>
    <br />
    <span><b>Phone:</b> ${{product.price | json}} </span>
	</li>
</ul>