<h2>
  LOGIN
</h2>

<form [formGroup]= "loginform" (ngSubmit)= "login()">
  <div>

    <label for="user"></label>
    <input type="text" name="user" id= "user" class="form-control" formControlName="user">
  </div>
  
  <div>
    <label for="password"></label>
    <input type="text" name="password" id= "password" class="form-control" formControlName="password">
  
  </div>
  <div *ngIf= "invalid" class = "alert alert-danger " >
      Invalid username or password
  </div>
  <input type="submit" value="login" class="btn btn-succes">

</form>

<div  >
  <button (click) = "logout()">
    Logout
  </button>
  </div>