<h2>Edit Product</h2>

<form [formGroup] = "productForm" (ngSubmit) = "sendData()">
  
  <div>
    <label for="name">Manufacturer</label>
    <input type="text" name = "name" id = "name" class = "form-control" formControlName = "manufacturer" value="{{manufacturer}}" [(ngModel)]="manufacturer" required>    
  </div>
    
  <div>
	  <label for="phone">Model</label>
	  <input type="text" name="price" id="price" class = "form-control" formControlName = "model" value="{{model}}" [(ngModel)]="model" required>	  
  </div>
  <input type="text" name="id" id="id" class="hidden" value="{{product?.id}}">
  <br />
  <input type="submit" value = "Send data" class = "btn btn-primary">
</form>  
